<div class="container-sirius">

<div class="user-account">  
  <%= render 'shared/account-nav' %>

  <div class="user-account-edit">
    <h2>Voir et gérer votre profil</h2>
    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, class: "form-sirius form-account" }) do |f| %>
      <%= f.error_notification %>

      <div class="form-inputs">
        <%= f.input :email, required: true, autofocus: true %>

        <%= f.input :first_name, required: true, autofocus: true, label: "Prénom" %>
        <%= f.input :last_name, required: true, autofocus: true, label: "Nom" %>
        
        
        <%= f.input :city, required: true, autofocus: true,  label: "Ville" %>
        <%= f.input :country, required: true, autofocus: true,  label: "Pays" %>
        <%= f.input :address_1, required: true, autofocus: true,  label: "Addresse" %>
        <%= f.input :address_2, autofocus: true, label: "Complément d'adresse",
                     hint: "Facultatif" %>
        <%= f.input :post_code, required: true, autofocus: true,  label: "Code postal" %>
        <%= f.input :phone_number, required: true, autofocus: true,  label: "Numéro de téléphone", 
                    hint: "Pour vous contacter au sujet de votre commande" %>
        <%= f.input :current_password, label: "Rentrez votre mot de passe pour valider les changements",
                    hint: "Rentrez votre mot de passe pour valider les changements",
                    required: true,
                    input_html: { autocomplete: "current-password" } %>
      </div>

      <div class="form-actions">
        <%= f.button :submit, "Mettre à jour mes informations", class: 'btn-sirius-thick' %>
      </div>
    <% end %>

    <h3>Supprimer mon compte</h3>

    <p>Attention, cette action est irréversible. Cliquez ci dessous pour supprimer votre compte. <%= link_to "Supprimer mon compte", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>  
  </div>


</div>


</div>
















