<% if user_signed_in? %>
  <% if current_user.admin  %>
  <div class="container-sirius dashboard-container">
    <%= render 'shared/admin_dashboard_nav' %>
    <div class="stock-edit-side">
      <h1>Gerez vos produits</h1>


      <div class="stock-search-bar">
        <%= form_tag stocks_path, method: :get do %>
          <%= text_field_tag :query, params[:query], class: "form-control", placeholder: "Rechercher un produit" %>
          <div class="space-btn"> <%= submit_tag "Rechercher", class: "btn-sirius mb-3" %> </div>
        <% end %>

        <div class="space-btn"> <%= link_to 'Ajouter taille', new_stock_path(@stocks), class: 'btn-sirius-thick'  %> </div>
      </div>
      <div class="grid-cards-stock">
        <% @stocks.each do |stock| %>
            <div class="card-stocks">
              <%= link_to edit_product_path(stock.product) do %>
              <span> <strong><%= stock.product.name %></strong>  <small><i class="fas fa-edit"></i></small> </span>
              <% end %>

              <li><%= stock.size %> </li>
              <li> Prix : <%= stock.price %>€</li>
              <li>
                <%= simple_form_for(stock) do |f| %>
                  <%= f.number_field :price_cents %>
                  <%= f.submit 'modifier le prix' %>
                <% end %>
              </li>
              <li> En stock : <%= stock.quantity %> </li>
              <li>
                <%= simple_form_for(stock) do |f| %>
                  <%= f.number_field :quantity %>
                  <%= f.submit 'modifier le stock' %>
                <% end %>
                <%= link_to stock_path(stock), method: :delete, data: { confirm: "Etes vous surs ?" } do%>
                  <div>Supprimer cette taille <i class="fas fa-times text-danger"></i></div>
                <% end %>
              </li>
            </div>
        <% end %>
      </div>
    </div>
  </div>
  <% end %>
<% end %>
