<% if user_signed_in? %>
  <% if current_user.admin  %>
  <div class="container-sirius dashboard-container">
    <%= render 'shared/admin_dashboard_nav' %>
    <div class="stock-edit-side">
      <h1>Gerez vos stocks</h1>


      <div class="stock-search-bar">
        <%= form_tag stocks_path, method: :get do %>
          <%= text_field_tag :query, params[:query], class: "form-control", placeholder: "Find a product" %>
          <div class="space-btn"> <%= submit_tag "Search", class: "btn-sirius" %> </div>
        <% end %>

        <div class="space-btn"> <%= link_to 'créer stock', new_stock_path(@stocks), class: 'btn-sirius '  %> </div>
      </div>
      <div class="grid-cards-stock">
        <% @stocks.each do |stock| %>
          <ul>
            <div class="card-stocks">
              <%= link_to edit_product_path(stock.product) do %>
              <span>  <%= stock.product.name %>  <i class="fas fa-edit"></i></span>
              <% end %>

              <li> Taille: <%= stock.size %> </li>
              <li> Prix actuel: <%= stock.price %>€</li>
              <li>
                <%= simple_form_for(stock) do |f| %>
                  <%= f.number_field :price_cents %>
                  <%= f.submit 'modifier le prix' %>
                <% end %>
              </li>
              <li> Quantitié en stock: <%= stock.quantity %> </li>
              <li>
                <%= simple_form_for(stock) do |f| %>
                  <%= f.number_field :quantity %>
                  <%= f.submit 'modifier le stock' %>
                <% end %>
              </li>
            </div>
          </ul>
        <% end %>
      </div>
    </div>
  </div>
  <% end %>
<% end %>
