<% if user_signed_in? %>
  <% if current_user.admin  %>
    <p>stock new</p>
  <%= simple_form_for(@stock) do |f| %>
    <%= f.input :size, label: 'Taille'  %>
    <%= f.input :quantity, label: 'Quantité' %>
    <%= f.input :price, label: 'Prix'%>
    <%= f.association :product, label: 'Produits', collection: Product.all, include_hidden: false, include_blank: false %>
    <%= f.submit %>
    <% end %>
  <% end %>
<% end %>
