<footer class="footer-main">
  <div class="footer-secondary">

    <div class="box-1">
      <h5 class="box-title">CONTACT</h5>
      <p class="mb10 footer-text-color">MAISON SIRIUS</p>
      <p class="mb10 footer-text-color">+32(0)489/30.10.33</p>
      <p class="mb10 footer-text-color"> maisonsirius@hotmail.com  </p>
      <p class="mb10 footer-text-color">Rue de visé 654 4020 wandre</p>
       <p class="mb10 footer-text-color">BELGIQUE</p>

    </div>


    <div class="box-2">
      <h5 class="box-title">CATEGORIES</h5>
      <ul class="footer_ul_amrc">
        <li><%= link_to 'COSMETIQUES', cosmetiques_path %>  </li>
        <li> <%= link_to 'FRIANDISES', friandises_path %></li>
        <li> <%= link_to 'ACCESSOIRES', accessoires_path %> </li>
        <li> <%= link_to 'PANIERS', paniers_path %> </li>
        <li> <%= link_to 'VETEMENTS', vetements_path %> </li>
        <li> <%= link_to 'JEUX', jeux_path %> </li>
        <li> <%= link_to 'GAMELLES', gamelles_path %> </li>
        <li> <%= link_to 'TRANSPORTS', transports_path %> </li>
      </ul>
    </div>

    <div class="box-3">
      <h5 class="box-title">MAISON SIRIUS</h5>
      <ul class="footer_ul_amrc">
        <li><%= link_to 'Boutique', products_path %>  </li>
        <li> <%= link_to 'A propos', about_path %> </li>
        <li> <%= link_to 'Contact', contact_path %> </li>
        <li> <%= link_to 'Salon de toilettage', salon_path %></li>
      </ul>
    </div>

    <div class="box-4">
      <h5 class="box-title">SUIVEZ NOUS</h5>

      <ul class="footer_ul_amrc">
        <li><a href="https://www.facebook.com/La-Griffe-de-Laly-103241737883888", target="_blank">FACEBOOK</a></li>
        <li><a href="https://www.instagram.com/grooming_lagriffedelaly/", target="_blank">INSTAGRAM</a></li>
      </ul>
    </div>
  </div>

  <div class="bottom-footer-div">
    <div class="bottom-footer">
      <small class="text-center mt-4"> <a href="https://docs.google.com/document/d/1dqqL_UMlpo8VAWMpj0LbFVT_ItqH3vP-VZqtGaBUjC0/edit?usp=sharing", target="_blank">Mentions Légales</a>  </small>
      </br>
      <small class="text-center pb-4">Developped by <a class="lien-git" href="https://www.linkedin.com/in/louiselongle/" target="_blank" rel="noopener noreferrer">Lou</a> and <a class="lien-git" href="https://github.com/ClementSMM" target="_blank" rel="noopener noreferrer" >Clem</a></small>
    </div>
  </div>

</footer>
