<!--footer starts from here-->
<footer class="footer ">
  <div class="container bottom_border bg-black">
    <div class="row">
      <div class=" col-sm-4 col-md col-sm-4  col-12 col">
        <h5 class="headin5_amrc col_white_amrc pt2">CONTACT</h5>
        <!--headin5_amrc-->
        <p class="mb10">MAISON SIRIUS</p>
        <p class="mb10">04489.30.10</p>
        <p class="mb10"> maisonsirius@hotmail.com  </p>
        <p class="mb10">BE 855 258 258</p>

      </div>


      <div class=" col-sm-4 col-md  col-6 col">
        <h5 class="headin5_amrc col_white_amrc pt2">CATEGORIES</h5>
        <!--headin5_amrc-->
        <ul class="footer_ul_amrc">
          <li> <%= link_to 'COSMETIQUE', '/categories/1' %></li>
          <li> <%= link_to 'ACCESSOIRES', '/categories/2' %></li>
          <li> <%= link_to 'VETEMENTS', '/categories/3' %></li>
          <li> <%= link_to 'GAMELLES', '/categories/4' %></li>
          <li> <%= link_to 'FRIANDISES', '/categories/5' %></li>
          <li> <%= link_to 'PANIERS', '/categories/6' %></li>
          <li> <%= link_to 'JEUX', '/categories/7' %></li>
          <li> <%= link_to 'TRANSPORTS', '/categories/8' %></li>
        </ul>
        <!--footer_ul_amrc ends here-->
      </div>


      <div class=" col-sm-4 col-md  col-6 col">
        <h5 class="headin5_amrc col_white_amrc pt2">A PROPOS</h5>
        <!--headin5_amrc-->
        <ul class="footer_ul_amrc">
          <li><a href="#">PAIMENT</a></li>
          <li><a href="#">LIVRAISON</a></li>
          <li><a href="#">RETOUR</a></li>
          <li><a href="#">CONTACTEZ NOUS</a></li>
        </ul>
        <!--footer_ul_amrc ends here-->
      </div>


      <div class=" col-sm-4 col-md  col-12 col">
        <h5 class="headin5_amrc col_white_amrc pt2">SUIVEZ NOUS</h5>
        <!--headin5_amrc ends here-->

        <ul class="footer_ul_amrc">
          <li><a href="#">FACEBOOK</a></li>
          <li><a href="#">INSTAGRAM</a></li>
        </ul>
        <!--footer_ul2_amrc ends here-->
      </div>
    </div>
  </div>


  <div class="container">
    <!--foote_bottom_ul_amrc ends here-->
    <p class="text-center">Copyright @2017 | Developped by <a href="https://github.com/louise-l">Lou</a> et <a href="https://github.com/ClementSMM">Clem</a></p>
    <!--social_footer_ul ends here-->
  </div>

</footer>
