<!--footer starts from here-->
<footer class="footer-main">
  <div class="footer-secondary">

    <div class="box-1">
      <h5 class="box-title">CONTACT</h5>
      <p class="mb10">MAISON SIRIUS</p>
      <p class="mb10">04489.30.10</p>
      <p class="mb10"> maisonsirius@hotmail.com  </p>
      <p class="mb10">BE 855 258 258</p>

    </div>


    <div class="box-2">
      <h5 class="box-title">CATEGORIES</h5>
      <!--headin5_amrc-->
      <ul class="footer_ul_amrc">
        <li><%= link_to 'COSMETIQUES', cosmetiques_path %>  </li>
        <li> <%= link_to 'FRIANDISES', friandises_path %></li>
        <li> <%= link_to 'ACCESSOIRES', accessoires_path %> </li>
        <li> <%= link_to 'PANIERS', paniers_path %> </li>
        <li> <%= link_to 'VETEMENTS', vetements_path %> </li>
        <li> <%= link_to 'JEUX', jeux_path %> </li>
        <li> <%= link_to 'GAMELLES', gamelles_path %> </li>
        <li> <%= link_to 'TRANSPORTS', transports_path %> </li>
      </ul>
      <!--footer_ul_amrc ends here-->
    </div>


    <div class="box-3">
      <h5 class="box-title">A PROPOS</h5>
      <!--headin5_amrc-->
      <ul class="footer_ul_amrc">
        <li><a href="#">PAIMENT</a></li>
        <li><a href="#">LIVRAISON</a></li>
        <li><a href="#">RETOUR</a></li>
        <li><a href="#">CONTACTEZ NOUS</a></li>
      </ul>
      <!--footer_ul_amrc ends here-->
    </div>


    <div class="box-4">
      <h5 class="box-title">SUIVEZ NOUS</h5>
      <!--headin5_amrc ends here-->

      <ul class="footer_ul_amrc">
        <li><a href="#">FACEBOOK</a></li>
        <li><a href="#">INSTAGRAM</a></li>
      </ul>
      <!--footer_ul2_amrc ends here-->
    </div>
  </div>

  <div class="bottom-footer-div">
    <div class="bottom-footer">
      <!--foote_bottom_ul_amrc ends here-->
      <p class="text-center ">Developped by <a class="lien-git" href="https://github.com/louise-l">Lou</a> and <a class="lien-git" href="https://github.com/ClementSMM">Clem</a></p>
      <!--social_footer_ul ends here-->
    </div>
  </div>

</footer>
