<div class="navbar-sirius" id = '<%= "navbar-home" if current_page?(root_url) %>'>


  <div class = 'header-navbar'>
    <%= link_to root_path, class: '' do %>
      <%= cl_image_tag $logokey, height: 120, width:120, class: 'desktop' %>
    <% end %>
    <h1><%= link_to 'Maison Sirius', root_path, class: '' %></h1>  
  </div>
  <nav class = 'nav-links desktop'>
      <%= link_to "Accueil", root_path, class: "hover" %>
      <a class= "hover" id ="boutique-btn">Boutique</a>
      <%= link_to "Salon de toilettage", salon_path, class: "hover" %>
      <%= link_to "A propos", about_path, class: "hover" %>
      <%= link_to "Contact", contact_path, class: "hover" %>
  </nav>
  <div class= 'nav-search-login'>

    <div class = 'nav-search'>
      <%= simple_form_for :search, url: products_path, method: "GET", html: { class: 'form-inline' } do |f| %>
        <%= f.input :product, input_html: {placeholder: "Rechercher..."}, label: false %>
           <button type="submit" class="nav-search-button btn"><i class="fas fa-search"></i></button>
       <% end %>
    </div>
    <div class = 'nav-login'>
      <%= link_to order_path(session[:order_id]), class: "nav-link nav-cart" do %>
         <i class="fas fa-shopping-bag"></i> Panier
      <% end %>

      <% if user_signed_in? %>
        <li class="dropdown">
          <button class="btn btn-secondary dropdown-toggle bg-transparent border-0" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="far fa-user"></i> Bonjour <%= current_user.first_name %>
         </button>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <% if current_user.admin? %>
              <%= link_to "Dashboard", dashboard_path, class: "dropdown-item" %>
            <% end %>

            <%= link_to "Mon compte", edit_user_registration_path, class: "dropdown-item" %>
            <%= link_to "Voir mes commandes", orders_path, class: "dropdown-item" %>
            <%= link_to "Me deconnecter", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
          </div>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to new_user_session_path, class: "nav-link" do %>
              <i class="far fa-user"></i> Se connecter
          <% end %>
        </li>
      <% end %>
    </div>
  </div>

  <%# Petits élements pour la navbar mobile %>
  <div>
    <div class = 'nav-menu mobile' id = "nav-menu"><i class="fas fa-bars"></i></div>
    <div class = 'nav-menu mobile' id = "nav-menu-open"><i class="fas fa-chevron-left"></i></div>
  </div>

  <%# DROPDOWN DE LA BOUTIQUE MOBILE - version allégée %>
  <div class="side-menu mobile" id= 'side-menu'>
    <div class = 'nav-search-mobile'>
      <%= simple_form_for :search, url: products_path, method: "GET", html: { class: 'form-inline' } do |f| %>
        <%= f.input :product, input_html: {placeholder: "Rechercher..."}, label: false, id: 'search-mobile' %>
            <button type="submit" class="nav-search-button btn"><i class="fas fa-search"></i></button>
        <% end %>
    </div>

    <div class ="mobile-boutique">

      <%= link_to order_path(session[:order_id]), class: "nav-link nav-cart" do %>
         <i class="fas fa-shopping-bag"></i> Mon panier
      <% end %>

        <div class = "separation-bar"></div>

        <p> <%= link_to 'Nouveautés', category_path(1) %></p>
        <p><%= link_to 'Editions limitées', category_path(2) %></p>
        
        <div class = "separation-bar"></div>

        <p><%= link_to 'Cosmétiques', cosmetiques_path %>  </p>
        <p><%= link_to 'Friandises', friandises_path %>  </p>
        <p><%= link_to 'Accessoires', accessoires_path %>  </p>
        <p><%= link_to 'Paniers', paniers_path %>  </p>
        <p><%= link_to 'Vêtements', vetements_path %>  </p>
        <p><%= link_to 'Jeux', jeux_path %>  </p>
        <p><%= link_to 'Gamelles', gamelles_path %>  </p>
        <p><%= link_to 'Transports', transports_path %>  </p>

    </div>

    <div class = "separation-bar"></div>

      <p> <%= link_to 'Salon de toilettage', salon_path %> </p>
    <div class = "separation-bar"></div>

    <div class= nav-login-mobile>
    <% if user_signed_in? %>
        <p><i class="far fa-user"></i> Bonjour <%= current_user.first_name %></p> 
        <% if current_user.admin? %>
          <p><%= link_to "Dashboard", dashboard_path, class: "" %></p>

        <% end %>
        <p><%= link_to "Voir mon compte", orders_path, class: "" %></p>
        <p> <%= link_to "Me deconnecter", destroy_user_session_path, method: :delete, class:"" %></p>
              
        <% else %>
          <li class="nav-item">
            <%= link_to new_user_session_path, class: "nav-link" do %>
                <i class="far fa-user"></i> Se connecter
            <% end %>
          </li>
        <% end %>
    </div>

    

  </div>

  <%# DROPDOWN DE LA BOUTIQUE DESKTOP%>
  <div class = 'modal-background'></div>
  <div id= 'dropdown-boutique'>
    <div id = "col-boutique-1" class= "col-boutique"> 
    
        <p> <%= link_to 'Nouveautés', category_path(Category.find_by(name: "Nouveautés")) %></p>
        <p><%= link_to 'Editions limitées', category_path(Category.find_by(name: "Editions Limitées")) %></p>
        <p><%= link_to 'Dernières pièces', category_path(Category.find_by(name: "Dernières pièces")) %></p>
        <p><%= link_to 'Voir tous les produits', products_path %></p>
        <%= cl_image_tag $logokey, height: 120, width:120, class: 'dropdown-logo' %>

    </div>
    

    <div id = "col-boutique-2" class= "col-boutique"> 
      <div>
        <h5><%= link_to 'COSMETIQUES', cosmetiques_path %>  </h5>
        <p> <%= link_to 'Shampoings', category_path(Category.find_by(name: "Shampoings")) %></p>
        <p> <%= link_to 'Après-shampoings', category_path(Category.find_by(name: "Après-shampoings")) %></p>
        <p> <%= link_to 'Conditionners', category_path(Category.find_by(name: "Conditionners")) %></p>
        <p> <%= link_to 'Parfums', category_path(Category.find_by(name: "Parfums")) %></p>
        <p> <%= link_to 'Outils de toilettage', category_path(Category.find_by(name: "Outils de toilettage")) %></p>
        </div>

      <div>
        <h5><%= link_to 'FRIANDISES', friandises_path %>  </h5>

          <p> <%= link_to 'Bois de cerf', category_path(Category.find_by(name: "Bois de cerf")) %></p>
          <p> <%= link_to 'Bâton de yak', category_path(Category.find_by(name: "Bâton de yak")) %></p>
          <p> <%= link_to 'Friandises Déshydratées', category_path(Category.find_by(name: "Friandises deshydratées")) %></p>
        </div>
    </div>

    <div id = "col-boutique-3" class= "col-boutique"> 
      <div>
        <h5><%= link_to 'ACCESSOIRES', accessoires_path %>  </h5>

          <p> <%= link_to 'Colliers', category_path(Category.find_by(name: "Colliers")) %></p>
          <p> <%= link_to 'Harnais', category_path(Category.find_by(name: "Harnais")) %></p>
          <p> <%= link_to 'Laisses', category_path(Category.find_by(name: "Laisses")) %></p>
          <p> <%= link_to 'Bandanas', category_path(Category.find_by(name: "Bandanas")) %></p>
          <p> <%= link_to 'Médailles', category_path(Category.find_by(name: "Médailles")) %></p>
          <p> <%= link_to 'Pochettes', category_path(Category.find_by(name: "Pochettes")) %></p>
        </div>

      <div>
        <h5><%= link_to 'PANIERS', paniers_path %>  </h5>
          <p> <%= link_to 'Paniers Sirius', category_path(Category.find_by(name: "Paniers Sirius")) %></p>
          <p> <%= link_to 'Coussins', category_path(Category.find_by(name: "Coussins")) %></p>
          <p> <%= link_to 'Orthopédique', category_path(Category.find_by(name: "Orthopédique")) %></p>
          <p> <%= link_to 'Canapés', category_path(Category.find_by(name: "Canapés")) %></p>
        </div>
    </div>

    <div id = "col-boutique-4" class= "col-boutique"> 
      <div>
        <h5><%= link_to 'VETEMENTS', vetements_path %>  </h5>

          <p> <%= link_to 'Pulls', category_path(Category.find_by(name: "Pulls")) %></p>
          <p> <%= link_to 'Manteaux', category_path(Category.find_by(name: "Manteaux")) %></p>
          <p> <%= link_to 'T-shirts', category_path(Category.find_by(name: "T-shirts")) %></p>
          <p> <%= link_to 'Autres', category_path(Category.find_by(name: "Autres")) %></p>
        </div>

      <div>
        <h5><%= link_to 'JEUX', jeux_path %>  </h5>

          <p> <%= link_to 'Doudous', category_path(Category.find_by(name: "Doudous")) %></p>
          <p> <%= link_to 'Pour les dents', category_path(Category.find_by(name: "Pour les dents")) %></p>
        </div>
    </div>

    <div id = "col-boutique-5" class= "col-boutique"> 
      <div>
        <h5><%= link_to 'GAMELLES', gamelles_path %>  </h5>
          <p> <%= link_to 'Gamelles Sirius', category_path(Category.find_by(name: "Gamelles Sirius")) %></p>
          <p> <%= link_to 'Gamelles', category_path(Category.find_by(name: "Gamelles")) %></p>
          <p> <%= link_to 'Gamelles anti-glouton', category_path(Category.find_by(name: "Gamelles anti-glouton")) %></p>
        </div>

      <div>
        <h5></h5>
        <h5><%= link_to 'TRANSPORTS', transports_path %>  </h5>
          <p> <%= link_to 'Sacs de transport', category_path(Category.find_by(name: "Sacs de transport")) %></p>
          <p> <%= link_to 'Poussettes', category_path(Category.find_by(name: "Poussettes")) %></p>
          <p> <%= link_to 'Sécurité', category_path(Category.find_by(name: "Sécurité")) %></p>
        </div>
    </div>



  </div>

</div>

  <%# PETITE NAVBAR DE LA HOMEPAGE %>
  <div class = "small-home-navbar <%= "d-none" if !current_page?(root_url) %>">
    <div class="container-small-nav">
      <div class = 'nav-search desktop'>
        <%= simple_form_for :search, url: products_path, method: "GET", html: { class: 'form-inline' } do |f| %>
          <%= f.input :product, input_html: {placeholder: "Rechercher..."}, label: false %>
            <button type="submit" class="nav-search-button btn"><i class="fas fa-search"></i></button>
        <% end %>
      </div>
      <div class = 'small-home-shop'>
        <%= link_to "Visiter la boutique", products_path, class: "hover" %>
        <%= link_to order_path(session[:order_id]), class: "nav-link nav-cart" do %>
          <i class="fas fa-shopping-bag"></i> Panier
        <% end %>   
      </div>
    </div>
</div>





