


<%# COMMANDE COMPLETE %>

  <% if  @order.order_items.length == 0 %>
    <div class="main-div-panier-vide">
        <h1 class="panier-vide" >Votre panier est vide</h1>
      <div class="link-empty-panier">
        <%= link_to "Commencez votre shopping", products_path  %>
      </div>
    </div>

  <% else %>
  <div class="main-div-panier">

    <%# TITRE DE LA PAGE %>
    <div class="title-panier">
      <%# La commande est en cours %>
      <% if @order.status == "En cours" %>
      <h1>Mon panier</h1>

      <%# La commande n'est pas en cours %>
      <% else %>
      <h1>Commande du <%= @order.created_at.strftime("%d / %m / %Y") %></h1>
      <h2><%= @order.status %></h2>
      <% end %>
    </div>

    <%# LISTE DES PRODUITS %>
    <ul>
      <% @order.order_items.each do |item| %>
      <li>
        <div class="main-card-panier">
          <div class="img-card-panier"> <%= cl_image_tag item.product.images.first.key, crop: :fill%> </div>
          <div class="description-card-panier">
            <div class="description-card-panier-box1">
              <%= link_to product_path(item.product), class: "" do %>
                <h5><%=item.product.name %> <span > (<%= item.size %>)</span></h5>
              <% end %>
              <div class="display-mobile"> <%= item.product.small_description %> </div>
              <div class="description-card-panier-box1-btn-qty">

                <%# La commande est en cours %>
                <% if @order.status == "En cours" %>
                  <div class="quantity-card-panier"> <p>Quantité:</p> </div>
                  <%= button_to '-', order_item_remove_one_path(item), class: 'btn-card-panier'%>
                  <div class="item-card-quantity"> <p> <%= item.quantity %> </p></div>
                  <%= button_to '+', order_item_add_one_path(item), class: 'btn-card-panier'%>
                <%# La commande n'est pas en cours %>
                <% else %>
                    <div class="item-card-quantity"> <p> Quantité : <%= item.quantity %> </p></div>
                <% end %>
              </div>
            </div>
          </div>
            <div class="description-card-panier-box3">
              <p>Prix: <%= item.total %>€</p>
                  <%# La commande est en cours %>
              <% if @order.status == "En cours" %>
                  <%= button_to 'supprimer' , order_item_path(item), method: :delete, data: { confirm: "Vous êtes sur le point de supprimer cet article de votre panier. Voulez-vous continuer ?" }, class: 'description-card-panier-box3-btn-supp'%>
              <% end %>
            </div>
        </div>
      </li>
      <% end %>
    </ul>

  <%# La commande est en cours - on peut choisir la livraison puis payer %>

  <div class="delivery-panier">

    <% if @order.status == "En cours" %>
      <%= simple_form_for (@order), html: {class: 'form-sirius'}, url: order_pay_path(@order), method: :put do |f| %>
        <h4>Choisir le mode de livraison</h4>
        <%= f.input :delivery_preference , label: false, collection: [ "Livraison", "Click & Collect"], include_blank: false%>

        <div class="explanation-delivery">
          <p>Pour la <strong>livraison</strong> à domicile, des frais de port de 10€ s'ajoutent à votre commande.</p>
          <p>Le <strong>Click & collect</strong> est à récupérer au salon de toilettage </br> Rue de Visé 654 </br> 4020 Wandre (Belgique)</p>
        </div>

        <div class="total-panier">
          <h4>Total de la commande: <%= @order.total %>€</h4>
            <small>Les éventuels frais de port seront ajoutés à la prochaine étape</small>
        </div>
        <div class="text-center form-actions">
          <%= f.submit "valider le mode de livraison et payer", class: 'btn-sirius-thick cta-strong'%>
        </div>
      <% end %>

    <%# La commande est en terminée - on peut voir le mode de livraison %>
    <% else %>
      <h3>Mode de livraison - <%= @order.delivery_preference %></h3>
    <% end %>

  </div>
<% end %>

