<%# ####################################################################@ %>
<%# PAGE UTILISATEUR NON ADMIN%>
<%# ####################################################################@ %>

<% if !current_user.admin? %>
  <div class="container-sirius">

    <div class="user-account">
      <%= render 'shared/account-nav' %>



      <div class="user-account-orders">
        <h2>Mes commandes en cours</h2>
        <%# Aucune commande en cours%>
        <% if @ongoing_orders.length == 0 %>
        <p  class = 'order-details'>Vous n'avez aucune commande en cours</p>


        <%# Commande en cours%>
        <% else %>
          <% @ongoing_orders.each do |order| %>

            <div class = 'order-details'>
            <%= link_to order_path(order), class: "" do %>
              <h5>Commande <strong><%= order.status %></strong>  </h5>
            <% end %>
                <% order.order_items.each do |item| %>
                  <div> <%=item.product.name  %> x <%= item.quantity %></div>
                <% end %>
                <div>Mode de retrait : <%= order.delivery_preference %>  </div>
                <div>Total : <%= order.amount %> € </div>
                <%= link_to 'voir la commande', order_path(order) %>
            </div>
            <% end %>

        <% end %>

        <%# Anciennes commandes%>

        <h4>Commandes passées</h4>
        <%# Aucune commande passée%>
        <% if @past_orders.length == 0 %>
          <p>Vous n'avez aucune commande passée</p>

        <%# Il y a des commandes passées%>
        <% else %>

          <% @past_orders.each do |order| %>
          <div class = 'order-details'>
            <%= link_to order_path(order), class: "" do %>
              <div>En date du <%= order.created_at.strftime("%d / %m / %Y") %></div>
            <% end %>
            <% order.order_items.each do |item| %>
              <%=item.product.name  %> ( <%= item.size %> )</li>
            <% end %>
            <div>Total :  <%= order.amount %> €</div>
          </div>
        <% end %>
      <% end %>
    </div>

    </div>
  </div>
<% end %>

<%# ####################################################################@ %>
<%# PAGE ADMIN %>
<%# ####################################################################@ %>

<% if current_user.admin? %>
  <div class="container-sirius dashboard-container">
    <%= render 'shared/admin_dashboard_nav' %>
    <div class="orders-gestion-side">

      <div class = 'header-orders'>
        <h2>Nouvelles commandes</h2>
        <small>Les nouvelles commandes de vos clients. Elles sont payées.</small>
      </div>

        <%# MONTRER LES NOUVELLES COMMANDES - Avec le status payé %>
        <div class="grid-order-admin-card">
          <% @paid_orders.each do |order| %>
            <div class="order-admin-card">
              <h4><%=  order.user ? order.user.email : 'userless order' %></h4>
              <p>STATUS : <%= order.status %></p>
                <% order.order_items.each do |item| %>
                <li> <%= item.product.name  %> x <%= item.quantity %></li>
                <% end %>
              <p>Total :  <strong><%= order.amount %></strong> €</p>

              <%= link_to 'voir la commande', order_path(order) %>
            </div>
          <% end %>
        </div>

      <div class = 'header-orders'>
        <h2>Commandes en cours</h2>
        <small>Les commandes dont vous avez connaissance, qui sont en cours de traitement</small>
      </div>
        <%# MONTRER LES COMMANDES EN COURS - Avec un des status "Prise en charge", "Prête à être retirée", "Expédiée" %>

        <div class="grid-order-admin-card">
          <% @processing_orders.each do |order| %>
            <div class="order-admin-card">
              <h4><%=  order.user ? order.user.email : 'userless order' %></h4>
              <p>STATUS : <%= order.status %></p>
                <% order.order_items.each do |item| %>
                <li> <%= item.product.name  %> x <%= item.quantity %></li>
                <% end %>
                <p>Total :  <strong><%= order.amount %></strong> €</p>
              <%= link_to 'voir la commande', order_path(order) %>
            </div>
          <% end %>
        </div>


      <div class = 'header-orders'>
        <h2>Anciennes commandes</h2>
        <small>Les commandes que vous avez archivées</small>
      </div>
        <%# MONTRER LES ANCIENNES COMMANDES %>
        <div class="grid-order-admin-card">
          <% @past_orders_admin.each do |order| %>
            <div class="order-admin-card">
              <h4><%=  order.user ? order.user.email : 'userless order' %></h4>
              <p>STATUS : <%= order.status %></p>
                <% order.order_items.each do |item| %>
                <li> <%= item.product.name  %> x <%= item.quantity %></li>
                <% end %>
              <p>Total :  <strong><%= order.amount %></strong> €</p>
              <%= link_to 'voir la commande', order_path(order) %>
            </div>
          <% end %>
        </div>
    </div>
  </div>
<% end %>
