<header>
    <% @gallery_accueil.images.each do |image| %>
      <%= cl_image_tag image.key, gravity: :center, crop: :fit, class: '' %>
    <% end %>
  <h1>MAISON SIRIUS</h1>
  <h3>La meilleure boutique en ligne</h3>
</header>


<div class = "home-page">

  <h2>Une boutique haut de gamme pour tous les toutous. </h2>

  <section class = "home-nouveautes">
  
    <h3>Nouveautés</h3>

    <div class="home-nouveautes-produits">
      <% @products_new.each do |product|%>
        <div class="product-index-card">
              <div class="card-product-index-img">
              <%= link_to product_path(product) do%>
                <%= cl_image_tag product.images.first.key, crop: :fill%>
              <% end %>
              </div>
              <div class="text-product-index-card">
                <p > <%= link_to product.name, product_path(product)%> </p>
                <p >A partir de: <%= product.find_first_price %>€</p>
              </div>
          </div>  
      <% end %>
    </div>

  
  </section>

</div>  

