<header>
  <%= cl_image_tag @gallery_logo, class: '' %>
    <h1>MAISON SIRIUS</h1>
    <h3>La meilleure boutique en ligne</h3>
</header>

<div class = "home-page">


  <section class = "home-nouveautes">
  
    <h3>Nouveautés</h3>

    <div class="home-nouveautes-produits">
      <% @products_new.sample(4).each do |product|%>
        <div class="product-index-card">
              <div class="card-product-index-img">
              <%= link_to product_path(product) do%>
                <%= cl_image_tag product.images.first.key, crop: :fill%>
              <% end %>
              </div>
              <div class="text-product-index-card">
                <p > <%= link_to product.name, product_path(product)%> </p>
                <p >A partir de <%= product.find_first_price %>€</p>
              </div>
          </div>  
      <% end %>
    </div>
  </section>

  <h2 class = 'homepage-argument'>Une boutique haut de gamme</br> pour tous les toutous. </h2>

  <section class="discover">

      <div class="discover-cards">
        <% @discover_cat.each do |cat| %>
          <div class = "discover-card">
              <%= link_to find_url(cat) do%>
                <%= cl_image_tag Gallery.find_by(category: cat).images.last.key, quality: 50, crop: :fill, class: 'border-sirius' %>
                <div class = 'discover-card-description btn-sirius-mid-thick'><%= cat %> <i class="fas fa-chevron-right"></i></div>
              <% end %>


          </div>
        <% end %>
      </div>
  
  </section>

  <section class="facilities">

    <div class = 'facility-pay'>
      <i class="far fa-credit-card"></i>
      <h5>PAIEMENT SÉCURISÉ</h5>
      <p>Tous vos paiements sont sécurisés</p>
    </div>

    <div class = 'facility-pay'>
      <i class="fas fa-store-alt"></i>
      <h5>CLICK AND COLLECT</h5>
      <p>Récupérez vos commandes en main propre</p>
    </div>

    <div class = 'facility-pay'>
      <i class="fas fa-truck"></i>
      <h5>LIVRAISON</h5>
      <p>Nous livrons dans toute la Belgique</p>
    </div>

  </section>






</div>  