<h2 class="text-center mb-4" >Se connecter</h2>

<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: "form-sirius form-account form-full-page" }) do |f| %>
  <div class="form-inputs">
    <%= f.input :email,
                required: false,
                autofocus: true,
                input_html: { autocomplete: "email" } %>
    <%= f.input :password,
                required: false,
                input_html: { autocomplete: "current-password" } %>
    <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Se connecter", class: 'btn-sirius-thick' %>
  </div>
<%= render "devise/shared/links" %>
<% end %>

