<div class="container-sirius order-summary-page">

  <h1>Votre commande</h1>

  <div class = "order-summary">
    <div class="order-summary-user-info">
        <p><%= @order.user.email %></p>
        <div> <%= @order.user.post_code %> </div>
        <div> <%= @order.user.city %> </div>
        <div> <%= @order.user.address_1 %> </div>
        <div> <%= @order.user.address_2 %> </div>
        <div>Numéro de téléphone : <%= @order.user.phone_number%></p>
        <p>Mode de retrait : <%= @order.delivery_preference %></p>
        <p class= 'order-summary-info'>Si vos informations sont incomplètes ou erronées, </br>merci de les corriger   <%= link_to "ici", edit_user_registration_path, class: "" %>
 avant de finaliser le payement</p>
    </div>
    <% @order.order_items.each do |item| %>
      <p><%= item.product.name %> (<%= item.size %>)<span> - <%= item.quantity %> pièce(s)</p>
    <% end %>
    <h5>Total de la commande <strong><%= @order.amount %></strong>  €</h5>

  </div>

  <button id="pay" class="btn-sirius-thick">Valider et accéder au payement</button>
  <p class = 'order-summary-info'>Vous allez être redirigés sur une page sécurisée </br>afin de finaliser le payement</p>



<% console %>








  <script src="https://js.stripe.com/v3/"></script>
  <script>
    const paymentButton = document.getElementById('pay');
    paymentButton.addEventListener('click', () => {
      const stripe = Stripe('<%= ENV['STRIPE_PUBLISHABLE_KEY'] %>');
      stripe.redirectToCheckout({
        sessionId: '<%= @order.checkout_session_id %>'
      });
    });
  </script>

</div>
