<div class="container-sirius">

  <h1>Accessoires</h1>
  <div class="categories-show-container">
    <h2> <%= @category_col.name  %> </h2>
    <div class="sub-categories-container">
      <% @category_col.products.each do |product| %>
      <% next if product.online == false %>
      <div class="product-index-card">
        <div class="card-product-index-img">
          <%= link_to product_path(product) do%>
          <%= cl_image_tag product.images.first.key, crop: :fill%>
          <% end %>
        </div>
        <div class="text-product-index-card">
          <p > <%= link_to product.name, product_path(product)%> </p>
          <p >A partir de: <%= product.find_first_price %>€</p>
        </div>
      </div>
      <% end %>
    </div>

    <h2> <%= @category_har.name  %> </h2>
    <div class="sub-categories-container">
      <% @category_har.products.each do |product| %>
      <% next if product.online == false %>
      <div class="product-index-card">
        <div class="card-product-index-img">
          <%= link_to product_path(product) do%>
          <%= cl_image_tag product.images.first.key, crop: :fill%>
          <% end %>
        </div>
        <div class="text-product-index-card">
          <p > <%= link_to product.name, product_path(product)%> </p>
          <p >A partir de: <%= product.find_first_price %>€</p>
        </div>
      </div>
      <% end %>
    </div>

    <h2> <%= @category_lais.name  %> </h2>
    <div class="sub-categories-container">
      <% @category_lais.products.each do |product| %>
      <% next if product.online == false %>
      <div class="product-index-card">
        <div class="card-product-index-img">
          <%= link_to product_path(product) do%>
          <%= cl_image_tag product.images.first.key, crop: :fill%>
          <% end %>
        </div>
        <div class="text-product-index-card">
          <p > <%= link_to product.name, product_path(product)%> </p>
          <p >A partir de: <%= product.find_first_price %>€</p>
        </div>
      </div>
      <% end %>
    </div>

    <h2> <%= @category_band.name  %> </h2>
    <div class="sub-categories-container">
      <% @category_band.products.each do |product| %>
      <% next if product.online == false %>
      <div class="product-index-card">
        <div class="card-product-index-img">
          <%= link_to product_path(product) do%>
          <%= cl_image_tag product.images.first.key, crop: :fill%>
          <% end %>
        </div>
        <div class="text-product-index-card">
          <p > <%= link_to product.name, product_path(product)%> </p>
          <p >A partir de: <%= product.find_first_price %>€</p>
        </div>
      </div>
      <% end %>
    </div>

    <h2> <%= @category_med.name  %> </h2>
    <div class="sub-categories-container">
      <% @category_med.products.each do |product| %>
      <% next if product.online == false %>
      <div class="product-index-card">
        <div class="card-product-index-img">
          <%= link_to product_path(product) do%>
          <%= cl_image_tag product.images.first.key, crop: :fill%>
          <% end %>
        </div>
        <div class="text-product-index-card">
          <p > <%= link_to product.name, product_path(product)%> </p>
          <p >A partir de: <%= product.find_first_price %>€</p>
        </div>
      </div>
      <% end %>
    </div>

    <h2> <%= @category_poc.name  %> </h2>
    <div class="sub-categories-container">
      <% @category_poc.products.each do |product| %>
      <% next if product.online == false %>
      <div class="product-index-card">
        <div class="card-product-index-img">
          <%= link_to product_path(product) do%>
          <%= cl_image_tag product.images.first.key, crop: :fill%>
          <% end %>
        </div>
        <div class="text-product-index-card">
          <p > <%= link_to product.name, product_path(product)%> </p>
          <p >A partir de: <%= product.find_first_price %>€</p>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>
