<h1>Friandises</h1>
  
  <h2> <%= @category_bois.name  %> </h2>

  <% @category_bois.products.each do |produit| %>
    <%= link_to produit.name, product_path(produit) %>
    <%= produit.small_description  %>
  <% end %>
  
  <h2> <%= @category_baton.name  %> </h2>

  <% @category_baton.products.each do |produit| %>
    <%= link_to produit.name, product_path(produit) %>
    <%= produit.small_description  %>
  <% end %>

  <h2> <%= @category_des.name  %> </h2>

  <% @category_des.products.each do |produit| %>
    <%= link_to produit.name, product_path(produit) %>
    <%= produit.small_description  %>
  <% end %>