<div class="container-sirius">
  <h1>Gamelles</h1>
  <div class="categories-show-container">

    <h2> <%= @category_gam_s.name  %> </h2>
    <div class="sub-categories-container">
      <% @category_gam_s.products.each do |product| %>
      <div class="product-index-card">
        <div class="card-product-index-img">
          <%= link_to product_path(product) do%>
          <%= cl_image_tag product.images.first.key, crop: :fill%>
          <% end %>
        </div>
        <div class="text-product-index-card">
          <p > <%= link_to product.name, product_path(product)%> </p>
          <p >A partir de: <%= product.find_first_price %>€</p>
        </div>
      </div>
      <% end %>
    </div>

    <h2> <%= @category_gam.name  %> </h2>

    <div class="sub-categories-container">
      <% @category_gam.products.each do |product| %>
      <% next if product.online == false %>
      <div class="product-index-card">
        <div class="card-product-index-img">
          <%= link_to product_path(product) do%>
          <%= cl_image_tag product.images.first.key, crop: :fill%>
          <% end %>
        </div>
        <div class="text-product-index-card">
          <p > <%= link_to product.name, product_path(product)%> </p>
          <p >A partir de: <%= product.find_first_price %>€</p>
        </div>
      </div>
      <% end %>
    </div>

    <h2> <%= @category_gam_g.name  %> </h2>

    <div class="sub-categories-container">
      <% @category_gam_g.products.each do |product| %>
      <% next if product.online == false %>
      <div class="product-index-card">
        <div class="card-product-index-img">
          <%= link_to product_path(product) do%>
          <%= cl_image_tag product.images.first.key, crop: :fill%>
          <% end %>
        </div>
        <div class="text-product-index-card">
          <p > <%= link_to product.name, product_path(product)%> </p>
          <p >A partir de: <%= product.find_first_price %>€</p>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>
