<div class="container-sirius">
  <h1>Vêtements</h1>
  <div class="categories-show-container">
    <h2> <%= @category_pu.name  %> </h2>

    <div class="sub-categories-container">
      <% @category_pu.products.each do |product| %>
      <div class="product-index-card">
        <div class="card-product-index-img">
          <%= link_to product_path(product) do%>
          <%= cl_image_tag product.images.first.key, crop: :fill%>
          <% end %>
        </div>
        <div class="text-product-index-card">
          <p > <%= link_to product.name, product_path(product)%> </p>
          <p >A partir de: <%= product.find_first_price %>€</p>
        </div>
      </div>
      <% end %>
    </div>

    <h2> <%= @category_man.name  %> </h2>

    <div class="sub-categories-container">
      <% @category_man.products.each do |product| %>
      <div class="product-index-card">
        <div class="card-product-index-img">
          <%= link_to product_path(product) do%>
          <%= cl_image_tag product.images.first.key, crop: :fill%>
          <% end %>
        </div>
        <div class="text-product-index-card">
          <p > <%= link_to product.name, product_path(product)%> </p>
          <p >A partir de: <%= product.find_first_price %>€</p>
        </div>
      </div>
      <% end %>
    </div>

    <h2> <%= @category_t.name  %> </h2>

    <div class="sub-categories-container">
      <% @category_t.products.each do |product| %>
      <div class="product-index-card">
        <div class="card-product-index-img">
          <%= link_to product_path(product) do%>
          <%= cl_image_tag product.images.first.key, crop: :fill%>
          <% end %>
        </div>
        <div class="text-product-index-card">
          <p > <%= link_to product.name, product_path(product)%> </p>
          <p >A partir de: <%= product.find_first_price %>€</p>
        </div>
      </div>
      <% end %>
    </div>

    <h2> <%= @category_au.name  %> </h2>

    <div class="sub-categories-container">
      <% @category_au.products.each do |product| %>
      <div class="product-index-card">
        <div class="card-product-index-img">
          <%= link_to product_path(product) do%>
          <%= cl_image_tag product.images.first.key, crop: :fill%>
          <% end %>
        </div>
        <div class="text-product-index-card">
          <p > <%= link_to product.name, product_path(product)%> </p>
          <p >A partir de: <%= product.find_first_price %>€</p>
        </div>
      </div>
      <% end %>
    </div>

  </div>

</div>
