<% if user_signed_in? %>
  <% if current_user.admin  %>
  <div class="container-sirius dashboard-container">
    <%= render 'shared/admin_dashboard_nav' %>
    <div class="new-product-side">
      <h1>New product</h1>
      <div class="new-product-form">
        <%= simple_form_for(@product) do |f| %>
          <%= f.input :name %>
          <%= f.input :small_description %>
          <%= f.input :long_description %>
          <p>Indice: Vous pouvez selectionner toutes les images d'un coup</p>
          <%= f.file_field :images, multiple: true %>
          <%= f.association :categories, collection: Category.all, as: :check_boxes, include_hidden: false %>
          <%= f.submit %>
        <% end %>
      </div>
    </div>
  </div>
  <% end %>
<% end %>
