<div class = 'product-show container-sirius'>

  <div class = 'product-image'>
    <div class="carouselContainer carouselProduitShow">
      <% @product.images.each do |image| %>
      <%= cl_image_tag image.key, crop: :fill, width: 300, height: 300, class: 'carouselImgs carouselProduit' %>
      <% end %>
      <span class="prev" id="prevcarouselProduit"> </span>
      <span class="next" id="nextcarouselProduit"> </span>
    </div>
    <div id = 'image-dots'>
      <% @product.images.each_with_index do |circle,index| %>
      <i class="far fa-circle image-dot" id= <%= index +1 %> ></i>
      <% end %>
    </div>
  </div>




  <div class="product-description">

    <h1><%= @product.name %></h1>

    <% @product_categories.each do |cat| %>
    <%@category = Category.find_by(name: cat ) %>
    <%= link_to category_path(@category), class: "category" do%>
    <% @category.name %>
    <% end %>
    <% end %>

    <p><%= @product.small_description %></p>
    <p>Prix : <span id = "product-price" data-prices = "<%= @stock.to_json %>"> </span> €</p>


    <%= simple_form_for (@order_item), html: {class: 'form-sirius form-product'} do |f| %>
      <%= f.input :size , label: "Taille", collection: @stock.map{|st| st.size}, include_blank: false%>
      <%= f.input :quantity, label: 'Quantité', collection: 1..10, include_blank: false%>
      <%= f.input :product_id,
          required: false,
          as: :hidden,
          input_html: { value: params[:id] } %>
      <% if @product.online == true %>
        <%= f.submit 'Ajouter au panier', class: 'btn-sirius-thick'%>
      <% else %>
        <p class = 'text-center btn-sirius-thick'> Nous sommes désolés, ce produit n'est pas disponible actuellement</p>
      <% end %>
    <% end %>
    <h4>Détails : </h4>
    <p><%= @product.long_description %></p>
  </div>
</div>
